*{
	font-family: 'Source Sans Pro', sans-serif;
}

header{
    background-color: #50AD65;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header a {
    margin-right: 20px;
    font-size: 20px;
}

header a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: white;
    transform: scaleX(0);
    transition-duration: 0.5s;
}

header a:hover::after{
    transition-duration: 0.5s;
    opacity: 1;
    transform: scaleX(1);
}

header div {
    margin-right: 20px;
    color: white;
}

h1 {
    margin-left: 20px;
    font-size: 40px;
}

main{
    border-top: 1px solid #000;
    min-height: 100vh;
    height: 100vh;
    background-color: #EBF0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #FEFEFE;
    height: 95%;
    width: 45vw;
    min-width: 350px;
    box-shadow: 0px 0px 10px rgb(98, 98, 98);
    padding: 30px;
    border-radius: 5px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

label, input, textarea{
    display: block;
    width: 100%;
}

label{
    margin-top: 30px;
    margin-bottom: 10px;
}

input{
    border: none;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.478);
    height: 30px;
    border-radius: 5px;
}

button{
    font-size: 15px;
    margin-top: 30px;
    line-height: 30px;
    margin-right: 10px;
    min-width: 80px;
    cursor: pointer;
    font-weight: bold;
}

button[type="reset"]{
    background-color: white;
    color: #50AD65;
    border: 2px solid #50AD65;
    border-radius: 5px;
}

button[type="submit"]{
    border: 2px solid #50AD65;
    background-color: #50AD65;
    color: white;
    border-radius: 5px;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: #2F4353;
}