*{
	font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #EBF0F0;
    overflow-x: hidden;
}

/* HEADER */

header{
    background-color: #50AD65;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header a {
    margin-right: 20px;
    font-size: 20px;
    position: relative;
}

header a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: white;
    transform: scaleX(0);
    transition-duration: 0.5s;
}

header a:hover::after{
    transition-duration: 0.5s;
    opacity: 1;
    transform: scaleX(1);
}

header div {
    margin-right: 20px;
    color: white;
}

/* END HEADER */

h1 {
    margin-left: 20px;
    font-size: 40px;
}

main{
    border-top: 1px solid #000;
    min-height: 100vh;
    height: auto;
    padding-bottom: 10px;
    transition-duration: 1s;
}

.empty{
    margin-top: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.empty a {
    text-decoration: underline;
    color: #50AD65;
}


/* Mise en page post */

article{
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgb(84, 84, 84);
    width: 70vw;
    min-height: 300px;
    height: auto;
    background-color: #FEFEFE;
    position: relative;
    margin: 50px auto;
    padding-top: 45px;
    padding-bottom: 30px;
}

img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    border-radius: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
    color: gray;
}

article p{  
    margin: 50px auto;
    text-align: center;
    width: 70%;
    line-height: 25px;
}

article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 20px auto;
}

article button:hover {
    transform: scale(1.1);
}

.delete {
    transition-duration: 0.2s;
    height: 40px;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.update {
    transition-duration: 0.2s;
    height: 40px;
    width: 100px;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
}

/* FIN layout post */

/* Layout aside */
aside{
    transition-duration: 1s;
    z-index: 10;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -20vw;
    background-color: #FEFEFE;
    opacity: 0.9;
    box-shadow: 0px 3px 8px rgb(101, 101, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside.view {
    left: 0;
}

aside .arrow{
    position: absolute;
    z-index: 11;
    top: 50%;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
    color:#50AD65;
    border: 2px solid black;
}

input[type="search"]{
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px auto;
}

select{
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px auto;
}

li{
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: linear;
}

li:hover{
    transform: scale(1.1);
}

aside div {
    width: 90%;
    border-top: 1px solid #000;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Modal */

div.modal{
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 70vw;
    min-width: 300px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.modal__title{
    height: 25%;
    border-bottom: 1px solid #000;
}

.modal__text{
    height: 50%;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: #2F4353;
}