header{
    background-color: #50AD65;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

body{
    background-color: #EBF0F0;
    overflow-x: hidden;
}

header div {
    margin-right: 20px;
    color: white;
}

h1 {
    margin-left: 20px;
    font-size: 40px;
    font-family: sans-serif;
}

main{
    border-top: 1px solid #000;
    min-height: 100vh;
    height: auto;
    padding-bottom: 10px;
    transition-duration: 1s;
}

/* Mise en page post */

article{
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgb(84, 84, 84);
    width: 70vw;
    min-height: 300px;
    height: auto;
    background-color: #FEFEFE;
    position: relative;
    margin: 50px auto;
    font-family: sans-serif;
    padding-top: 45px;
    padding-bottom: 30px;
}

img{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: red;
    left: 50%;
    top: -40px;
    border-radius: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
    color: gray;
}

article p{  
    margin: 50px auto;
    text-align: center;
    width: 70%;
    line-height: 25px;
}

article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 20px auto;
}

article button:hover {
    transform: scale(1.1);
}

.delete {
    transition-duration: 0.2s;
    height: 40px;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.update {
    transition-duration: 0.2s;
    height: 40px;
    width: 100px;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
}

/* FIN layout post */

/* Layout aside */
aside{
    transition-duration: 1s;
    z-index: 10;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -20vw;
    background-color: #FEFEFE;
    opacity: 0.9;
    
    box-shadow: 0px 3px 8px rgb(101, 101, 101);
}

aside.view {
    left: 0;
}

aside .arrow{
    position: absolute;
    z-index: 11;
    top: 50%;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.aside_title{
    margin-top: 50px;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
    color: blue;
    font-size: 18px;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: #2F4353;
}